<div id="record-detail-container">
  <div class="row">
    <div class="col-md-6 detail-img">
      <%= image_tag(@record.avatar.url) %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h3><%= @record.title %></h3>
      <h5><%= @record.artist %></h5>
      <span>$<%= @record.cost %></span>, <span><%= @record.category %></span>
      <br>
      <br>
      <% if @record.description %>
        <p><%= @record.description %></p>
      <% else %>
        <p><em>No description available</em></p>
      <% end %>
      <a href="<%= records_path %>" class="cart">Add to cart</a>
      <br>
      <%= link_to "Back to catalog", records_path %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <strong>Reviews for <%= @record.title %> by <%= @record.artist %>:</strong>
      <% if @record.reviews.any? %>
        <ul>
          <% @record.reviews.order(:updated_at).reverse.each do |review| %>
            <li class="li-underline"><%= link_to truncate(review.content, length: 30), record_review_path(@record, review) %><span class="right light"><em><%= time_ago_in_words(review.created_at) %> ago</em></span></li>
          <% end %>
        </ul>
      <% else %>
        <em>this record has no reviews</em>
      <% end %>
      <%= link_to "Write a review", new_record_review_path(@record) %>
      <br>
      <br>
    </div>
    <div class="col-md-6">
      <strong>People who bought this also bought:</strong>
      <ul>
        <% Record.all.sample(3).each do |record| %>
          <li class="li-underline"><a href="<%= record_path(record) %>"><%= record.title %> - <%= record.artist %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if current_user %>
    <% if current_user.admin == true %>
    <div id="admin-div">
      Admin:
      <%= link_to "Edit Item", edit_record_path(@record) %>,
      <%= link_to "Delete Item", record_path(@record), :data => {:confirm => "Are you sure?", :method => "delete"} %></li>
    </div>
    <% end %>
  <% end %>
</div>
