<div id="record-detail-container">
  <div class="row">
    <div class="col-md-6 detail-img">
      <%= image_tag(@record.image) %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h3><%= @record.title %></h3>
      <h5><%= @record.artist %></h5>
      <span>$<%= @record.cost %></span>
      <br>
      <br>
      <% if @record.description %>
        <p><%= @record.description %></p>
      <% else %>
        <p><em>No description available</em></p>
      <% end %>
      <%= link_to "back to catalog", records_path %>
    </div>
  </div>
  <% if current_user %>
    <% if current_user.admin == true %>
      <hr>
      <%= link_to "Edit Item", edit_record_path(@record) %>
      <br>
      <%= link_to "Delete Item", edit_record_path(@record) %>
    <% end %>
  <% end %>
</div>
