<h3>New review for</h3>
<%= @record.title %> - <%= @record.artist %>
<br>
<br>

<%= render "layouts/errors", :object => @review %>

<%= form_for [@record, @review] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>
