<h3><%= @review.user.username %>'s review for</h3>
<%= @review.record.title %> - <%= @review.record.artist %>
<br>
<em><%= time_ago_in_words(@review.created_at) %> ago</em>
<br>
<br>

<p><%= @review.content %><p>

<hr>
<%= link_to "Back to record", record_path(@review.record) %>
<br>
<%= link_to "Back to catalog", records_path %>
<br>
<%= link_to "Edit my review", edit_record_review_path(@review.record, @review) if current_user.id == @review.user_id %>
<br>
<%= link_to "Delete my review", record_review_path(@review.record, @review), :data => {:confirm => "Are you sure?", :method => "delete"} %>


<% if current_user.admin == true %>
  <div id="admin-div">
    Admin:
    <%= link_to "Delete this review", record_review_path(@review.record, @review), :data => {:confirm => "Are you sure?", :method => "delete"} %>
  </div>
<% end %>
