<!DOCTYPE html>
<html>
  <head>
    <title>Rails Record Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% unless !current_page?(root_path) %>
    <div id="index-div">
      <div id="darken"></div>
      <h1><%= link_to "Rails Record Store", records_path %></h1>
    </div>
  <% end %>
  <body>
    <% unless current_page?(root_path) %>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="my-nav">
            <ul>
              <li><a href="<%= root_path %>"><strong>Rails Record Store</strong></a></li>
              <li><a href="<%= records_path %>">Catalog</a></li>
              <li class="blue"><%= link_to current_user.username, user_path(current_user) if current_user %></li>
              <li><%= link_to "Cart", login_path  if current_user %></li>
              <li><%= link_to "Log In", login_path  if !current_user %></li>
              <li><%= link_to "Sign Up", signup_path if !current_user %></li>
              <li><%= link_to "Log Out", logout_path if current_user %></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-9">
          <p id="notice"><%= notice %></p>
          <p id="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
    <% end %>
  </body>
</html>
